@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
    background: #f2f4f5 !important;
    font-family: 'Product Sans', 'Segoe UI', 'Montserrat', 'sans-serif';
}

.topnav {
    padding-left: 0px 0px 30px 0px;
    overflow: hidden;
    background-color: #f2f4f5;
}

.topnav h1 {
    font-size: 3em;
    float: left;
    text-decoration: none;
    color: #00BCF2;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 18px;
    width: 100px;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 8px;
    transition: 0.4s;
}

.topnav p {
    float: right;
    color: #636363;
    text-align: right;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

.topnav a:hover {
    background-color: #00bcf2;
    color: white;
}

.topnav a.active {
    background-color: #00bcf2;
    color: white;
}

.dashboard-panel {
    background: #f2f4f5;
    margin-right: 10px;
    margin-bottom: 8px;
    border: 1px solid #cecece;
    border-radius: 12px;
    transition: .3s;
}

.dashboard-panel h2.panel-title {
    transition: .2s;
    color: #3b3b3b;
}

.dashboard-panel:hover h2.panel-title {
    font-size: 18px !important;
    color: black;
}

.dashboard-panel:hover {
    box-shadow: 0px 0px 10px #b3b3b3;
    border: 1px solid #00bcf2;
    border-top: 4px solid #00bcf2;
}

#panBanner div.panel-body {
    background: #f2f4f5;
    border: 0px;
}

#panFooter div.panel-body {
    background: #f2f4f5;
    border: 0px;
}

#panBanner div.dashboard-panel {
    margin-top: 0px !important;
    background: #f2f4f5;
    border: 0px;
}

#panFooter div.dashboard-panel {
    margin-top: 0px !important;
    background: #f2f4f5;
    border: 0px;
}

#panBanner div.dashboard-panel:hover {
    box-shadow: 0px 0px 0px #eee;
}

#panFooter div.dashboard-panel:hover {
    box-shadow: 0px 0px 0px #eee;
}

#panSuccVsFailOvrTime, #panReqByApp {
    width: 75% !important;
}

#panStackedSingleValues, #panPieChartCountryOfOrigin {
    width: 25% !important;
}

#svSuccessTop, #svFailedBottom {
    margin: 50px !important;
    width: 50% !important;
}

#svSuccessTop text.under-label, #svFailedBottom text.under-label {
    font-size: 120% !important;
}

#svSuccessTop .dashboard-element-body, #svFailedBottom .dashboard-element-body {
    width: 160% !important;
    font-size: 120% !important;
}

#panUserMFAChanceMatrixStatTableHolder {
    width: 65% !important;
}

#panConsecFailedTable div.dashboard-panel {
    height: 380px !important;
}

#panTopCallStatChart {
    width: 35% !important;
}

#inputUserTextField {
    margin-left: 20px;
    margin-bottom: 0px;
}

#panUserChanceContainer div.dashboard-panel {
    padding: 0px;
}

#panUserChanceContainer div.dashboard-panel {
    padding: 0px;
}

#h1Holder {
    padding: 0px 2px;
    padding-left: 2em;
}
